.hero {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {

        .hero__title1 {
            font-size: 100px;
            line-height: 119px;
        }
        .hero__title2 {
            font-size: 100px;
            color: #90e051;
            line-height: 119px;
        }
        .hero__text {
            font-size: 18px;
            font-weight: 500;
            line-height: 33px;
            width: 623px;
        }
        .hero__btn {
            padding: 18px 69px;
            border-radius: 20px;
            border: none;
            background-color: #fff;
            color: #90e051;
            font-size: 26px;
            margin-top: 62px;
            transition: all 0.2s ease;

            &:hover, &:focus{
                background-color: #90e051;
                color: #fff;
            }
            &:active {
                scale: 0.98;
            }

        }
    }

    &__right {
        img {
            transition: all 0.2s ease;
            animation: scale 1s infinite;
            animation-duration: 4s;
            &:hover {
                scale: 1.04;
                animation: scale;
            }
        }
    }
}


@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.04);
    }
    100% {
        transform: scale(1);
    }
}